# B5 Очистка данных

## B5.1.2.1

Cчитайте csv-файл в переменную log как файл без заголовка. Файл находится по адресу "log.csv", вы сможете получить к нему доступ без указания пути прямо из платформы.

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\log.csv', header = None)
log = pd.DataFrame(df)
display(log)

                                    0                     1        2        3
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

Загрузите файл sample.csv в переменную sample, сохраните колонки в переменную columns

In [2]:
df = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')
sample = pd.DataFrame(df)
display(sample)
columns = sample.columns

            Name         City  Age Profession
0         Иванов       Москва   25     Клинер
1            NaN    Волгоград   31   Менеджер
2         Иванов       Москва   25     Клинер
3        sidorov  Владивосток   43   Менеджер
4        _______        Курск   50   Водитель
5       Кузнецов         Сочи   19    Рабочий
6          Сажин       Сургут   29    Рабочий
7   Котлеревский   Йошкар-Ола   32    Рабочий
8     Завалишина    Чебоксары   36   Менеджер
9         Левина          NaN   55    Рабочий
10          Фикс         Рига   42    Рабочий

## B5.2.3.1

Создайте в sample заголовки колонок так, чтобы там были только маленькие буквы. Например, вместо 'Age' нужно сделать 'age':

In [3]:
columns = ['name', 'city', 'age', 'profession']

## B5.2.3.3

 Давайте применим полученные знания для нашего датафрейма: замените в log заголовки колонок на:

    user_id
    time
    bet
    win

In [4]:
log = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']

## B5.2.4.1

Загрузите файл users.csv в переменную users. Будьте осторожны :)

Не открывается сразу? Попробуйте открыть этот файл в текстовом редакторе и разобраться, что с ним не так!

Посмотрите какие параметры есть у функции read_csv? В чем может быть ошибка?

С помощью правильных параметров read_csv загрузите датафрейм

In [5]:
import pandas as pd
df = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\users.csv', header = None, encoding = 'koi8_r', sep='\t')
users = pd.DataFrame(df)
display(users)

            0                         1            2
0      Юзверь                      мейл          Гео
1    User_943       Accumanst@gmail.com       Ижевск
2    User_908         Advismowr@mail.ru       Ижевск
3    User_962           Anachso@ukr.net    Краснодар
4    User_973          Antecia@inbox.ru        Пермь
..        ...                       ...          ...
96   User_959  UpdatesCurious@yahoo.com       Тюмень
97   User_901        V2artierso@mail.ru  Арзангелтск
98   User_970          Vashoterlo@bk.ru      Воронеж
99   User_965       Visuareda@yahoo.com      Воронеж
100  User_921              Aavast@ya.ru       Ижевск

[101 rows x 3 columns]

## B5.2.4.2

 Продолжаем работать с users.csv. Прочитайте еще раз файл в переменную users. Замените в нем названия колонок на

    user_id
    email
    geo

In [6]:
users.columns = ['user_id', 'email', 'geo']

Один из самых простых  способов проглядеть данные "глазами" – это воспользоваться функцией .unique(),  которая выдает список уникальных значений колонки.

In [7]:
df.user_id.unique()

array(['Юзверь', 'User_943', 'User_908', 'User_962', 'User_973',
       'User_902', 'User_976', 'User_955', 'User_992', 'User_978',
       'User_939', 'User_974', 'User_983', 'User_932', 'User_903',
       'User_954', 'User_918', 'User_906', 'User_941', 'User_917',
       'User_947', 'User_919', 'User_1000', 'User_998', 'User_949',
       'User_946', 'User_938', 'User_934', 'User_916', 'User_989',
       'User_935', 'User_966', 'User_928', 'User_985', 'User_960',
       'User_950', 'User_910', 'User_977', 'User_961', 'User_967',
       'User_972', 'User_957', 'User_993', 'User_991', 'User_911',
       'User_931', 'User_980', 'User_952', 'User_990', 'User_912',
       'User_913', 'User_984', 'User_969', 'User_904', 'User_953',
       'User_995', 'User_951', 'User_900', 'User_930', 'User_922',
       'User_926', 'User_982', 'User_942', 'User_958', 'User_975',
       'User_933', 'User_987', 'User_920', 'User_964', 'User_937',
       'User_927', 'User_936', 'User_905', 'User_986', 'User_915',
       'User_997', 'User_971', 'User_909', 'User_963', 'User_948',
       'User_914', 'User_968', 'User_944', 'User_924', 'User_925',
       'User_940', 'User_988', 'User_999', 'User_981', 'User_923',
       'User_945', 'User_979', 'User_994', 'User_929', 'User_907',
       'User_996', 'User_959', 'User_901', 'User_970', 'User_965',
       'User_921'], dtype=object)

In [8]:
df = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')

In [9]:
sample = pd.DataFrame(df)
display(sample)

            Name         City  Age Profession
0         Иванов       Москва   25     Клинер
1            NaN    Волгоград   31   Менеджер
2         Иванов       Москва   25     Клинер
3        sidorov  Владивосток   43   Менеджер
4        _______        Курск   50   Водитель
5       Кузнецов         Сочи   19    Рабочий
6          Сажин       Сургут   29    Рабочий
7   Котлеревский   Йошкар-Ола   32    Рабочий
8     Завалишина    Чебоксары   36   Менеджер
9         Левина          NaN   55    Рабочий
10          Фикс         Рига   42    Рабочий

## B5.3.1.1

Посмотрите все уникальные значения в sample.csv
Какие ошибки вы видете в колонке Name?

In [10]:
df.Name.unique()

array(['Иванов', nan, 'sidorov', '_______', 'Кузнецов', 'Сажин',
       'Котлеревский', 'Завалишина', 'Левина', 'Фикс'], dtype=object)

##  B5.3.1.2

Посмотрите, сколько непустых значений в колонке City.

In [11]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   City        10 non-null     object
 2   Age         11 non-null     int64
 3   Profession  11 non-null     object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

## B5.3.1.3

Поработаем с log.csv. В колонке user_id есть записи, которые содержат технические ошибки. Укажите, что записано в поле user_id в строчках с ошибкой

In [12]:
df = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\log.csv', header = None)
log = pd.DataFrame(df)
log.columns = ['userid','time','n','m']
display(log)

                               userid                  time        n        m
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

## B5.3.2.1

Создайте новый датафрейм sample2, в который будут входить только записи о людях в возрасте меньше 30 лет

In [13]:
sample = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')
sample2 = sample[sample['Age'] < 30]

## B5.3.2.2

Создайте новый датафрейм log_win, в который будут входить только записи, где пользователь выиграл. Посчитайте, сколько таких записей, и сохраните в переменной win_count.

In [14]:
log = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\log.csv',header=None)
log.columns = ['user_id','time', 'bet','win']
log['win'] = log['win'].fillna('unknown')
win_count = log[log['win'] != 'unknown'].count()
display(win_count)

user_id    138
time       133
bet        138
win        138
dtype: int64

## B5.3.2.3

Создайте новый датафрейм sample2, в который будут входить только записи о рабочих младше 30 лет.

In [15]:
sample = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')
sample2 = sample[(sample['Age'] < 30) & (sample['Profession'] == 'Рабочий')]

In [16]:
sample.query('Age>20')

            Name         City  Age Profession
0         Иванов       Москва   25     Клинер
1            NaN    Волгоград   31   Менеджер
2         Иванов       Москва   25     Клинер
3        sidorov  Владивосток   43   Менеджер
4        _______        Курск   50   Водитель
6          Сажин       Сургут   29    Рабочий
7   Котлеревский   Йошкар-Ола   32    Рабочий
8     Завалишина    Чебоксары   36   Менеджер
9         Левина          NaN   55    Рабочий
10          Фикс         Рига   42    Рабочий

## B5.3.3.1

С помощью функции query найдите тех, у кого ставка меньше 2000, а выигрыш больше 0. Сохраните в новый датафрейм log2.

In [17]:
log = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\log.csv',header=None)
log.columns = ['user_id','time', 'bet','win']
log2 = log.query('bet<2000 & win > 0')

In [18]:
sample.Name.str.match("К", na=False)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: Name, dtype: bool

In [19]:
sample[sample.Name.str.match("К", na=False)]

           Name        City  Age Profession
5      Кузнецов        Сочи   19    Рабочий
7  Котлеревский  Йошкар-Ола   32    Рабочий

In [20]:
sample[~sample.Name.str.match("К", na=False)]

          Name         City  Age Profession
0       Иванов       Москва   25     Клинер
1          NaN    Волгоград   31   Менеджер
2       Иванов       Москва   25     Клинер
3      sidorov  Владивосток   43   Менеджер
4      _______        Курск   50   Водитель
6        Сажин       Сургут   29    Рабочий
8   Завалишина    Чебоксары   36   Менеджер
9       Левина          NaN   55    Рабочий
10        Фикс         Рига   42    Рабочий

## B5.3.4.1

Найдите записи, где в городах есть буква «о», и сохраните в переменную sample3.

Функция contains не может работать с пустыми значениями: необходимо использовать параметр na = False

In [21]:
sample = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')
sample3 = sample[sample.City.str.contains("о", na=False)]

## B5.3.4.2

Найдите записи, где в городах нет буквы "о", и сохраните в переменную sample4. Не забудьте про NaN и параметр na:

In [22]:
sample = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')
sample4 = sample[~sample.City.str.contains("о", na=False)]

## B5.3.4.3

Сохраните в переменную new_log датафрейм, из которого удалены записи, в которых есть ошибка в поле user_id

In [23]:
log = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\log.csv',header=None)
log.columns = ['user_id','time', 'bet','win']
new_log = log[~log.user_id.str.contains("error", na=False)]

## B5.3.5.1

С помощью apply и лямбда-функции увеличьте возраст во всех записях на 1 год и сохраните в sample2

In [24]:
sample = pd.read_csv(r'C:\Users\kozhevnikovams\Downloads\sample.csv')
sample2 = sample
sample2.Age = sample2.Age.apply(lambda x:x+1)

## B5.3.5.3

 Напишите функцию profession_code, которая на вход получает строку, а на выход возвращает

    0 - если на вход поступила строка "Рабочий"
    1 - если на вход поступила строка "Менеджер"
    2 - в любом другом случае

In [25]:
def profession_code(s):
    if str(s) == 'Рабочий':
          return 0
    elif str(s) == 'Менеджер':
          return 1
    else:
          return 2